@import "../../styles/colors";
.container {
  width: 100%;
  min-height: 100px;
  height: max-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(4deg, $black, $dark_grey);
  color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: block;
  list-style-type: none;
  position: absolute;
  padding: 0;
  top: 5px;
  right: 35px;

  &:hover {
    cursor: pointer;
  }
}

.line {
  background-color: white;
  width: 35px;
  height: 3px;
  margin: 10px;
  border-radius: 5px;
}

.imgContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  img {
    max-height: 75px;
  }
}

.closeMenu {
  display: none;
  width: 100%;
}

.openMenu {
  display: flex;
  width: 100%;
}

.navList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  max-width: 550px;
  list-style: none;

  li {
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    transition: 0.2s;
    &:hover {
      color: $red;
      border-bottom: 5px solid $red;
      border-top: 5px solid $red;
      cursor: pointer;
    }
  }
}

@media (min-width: 850px) {
  .hamburger {
    display: none;
  }

  .closeMenu {
    display: flex;
  }

  .navList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40%;
    max-width: 550px;
    list-style: none;
    justify-content: space-evenly;

    li {
      font-size: 1.2rem;
      border-bottom: 5px solid transparent;
      border-top: none;
      padding: 0;
      transition: 0.2s;
      &:hover {
        color: $red;
        border-top: none;
        border-bottom: 5px solid $red;
        cursor: pointer;
      }
    }
  }
}
